body 
{
	width: 62.5em;
	margin:auto;
	background-color : #7E4D2A;
}
header
{
	padding-left:40%;
	padding-right:auto;
}
footer
{
	width: 36.594em;
	margin: auto;
}
main
{
	display: inline-block;
	vertical-align:top;
}

nav
{
	background-color : #BD945C;
	border: ridge 0.188em #000000;
	padding : 0.938em;
	display:inline-block;
}
section
{
	background-color : #BD945C;
	border: ridge 0.188em #000000;
	padding : 0.313em 0.938em;
}

#textes
{
	border-bottom: none;
}
#tables
{
	border-top: none;
}

#proba_form, table
{
	display: inline-table;
}

#result_table
{
	margin-left:3em;
	border-spacing: 3px 0;
}
#result_table td
{
	background-color: #8D9155;
	margin: 1em;
	text-align: center;
	width: 2em;
	min-width: 25px;
}
#result_table tr:first-of-type td
{
	border-radius: 2.5px 2.5px 0 0;
}

#result_table tr:last-of-type td
{
	border-radius: 0 0 2.5px 2.5px;
}

p
{
	display:inline-block;
	margin: 0.438em 0;
}

#moyenne
{
	display:block;
}
input
{
	background-color: #F0D79E;
}
a, a:visited, a:hover, a:active
{
	color: #FCE1A6;
	decoration: none;
}
